.main {
    display: flex;
    flex-flow: row wrap;
    width: 640px;
    height: 140px;
  }
  .main__button {
    display: inline-block;
    margin: 10px;
  }
  .button__button {
    width: 189px;
    height: 48px;
    border-radius: 8px;
    color: var(--white);
    border: none;
    padding: 15px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out,
      border 200ms ease-in-out;
  }
  .button__button--primary {
    background: var(--primary);
  }
  .button__button--primary:hover {
    background: #2342c0;
    cursor: pointer;
  }
  .button__button--primary:disabled {
    background: var(--primary);
  
    cursor: not-allowed;
    opacity: 0.5;
  }
  .button__button--secondary {
    background: var(--secondary);
  }
  .button__button--secondary:hover {
    background: #5028c6;
    cursor: pointer;
  }
  .button__button--secondary:disabled {
    background: var(--secondary);
    cursor: not-allowed;
    opacity: 0.5;
  }
  .button__button--alternate {
    color: var(--grey-4);
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
  }
  .button__button--alternate:hover {
    color: var(--grey-4);
    border: 1px solid var(--black);
    box-sizing: border-box;
    cursor: pointer;
  }
  .button__button--alternate:disabled {
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    cursor: not-allowed;
    opacity: 0.5;
  }
