:root {
    --histogram-width: 354px;
}
.histogram{
width: var(--histogram-width);
background: var(--white);
border: 1px solid var(--grey-3);
box-sizing: border-box;
border-radius: calc(var(--histogram-width)/45);
font-family: Inter;
font-style: normal;
font-weight: normal;
color: var(--black);
font-size: calc(var(--histogram-width)/22);
}
.histogram__header{
    margin: 5% 7% 0% 7%;
    display: flex;
    justify-content: space-between;
}
.histogram__total{
opacity: 0.8;
}
.histogram__viewall{
color: var(--blue);
}
.histogram__counter{
font-size: calc(var(--histogram-width)/18);
margin: 2% 7% 0% 7%;
}
.histogram__main{
    margin: 0% 7% 5% 7%;
    height:calc(var(--histogram-width)/3.54) ;
    display: flex;
    gap: calc(var(--histogram-width)/354);
    justify-content: space-around;
    align-items: flex-end;
}
.histogram__column{
    background: var(--primary);
    width: calc(var(--histogram-width)/40) ;
}