.tooltip--position{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.tooltip {
    display: inline-block;
    cursor: pointer;
}
.tooltip__icon{
    width: 22px;
    height: 22px;
    cursor: pointer;  
}
.tooltip__text{
    display: none;
    position: absolute;
    width:124px;
    height: 45px;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 45px;
text-align: center;
color: var(--grey-2);

background: var(--primary);
box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.35);
border-radius: 10px;
}
.tooltip__text:after{
    content: "";
    position: absolute;
    top: 100%;
    left:50%;
    transform: translateX(-50%);
    border: 14px solid transparent;
    border-top: 6px solid var(--primary);
}
.tooltip:hover .tooltip__text{
    display: block;
}